*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Chalkduster, fantasy;
    cursor: url("images/SuperCurser.png"), auto;
}

body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

section{
    position: relative;
    width: 100%;
}

section .waves{
    position: relative;
    min-height: 100vh;
}

section .waves .wave{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 12vh;
    background: url(images/wave.png);
    background-size: 1000px 12vh;

}

section .waves .wave#wave1{
    opacity: 1;
    bottom: 0vh;
    z-index: 1000,;
    animation: animate 4s linear infinite;
}

section .waves .wave#wave2{
    opacity: 0.5;
    bottom: 0vh;
    z-index: 999,;
    animation: animate2 4s linear infinite;
}

section .waves .wave#wave3{
    opacity: 0.2;
    bottom: 0.75vh;
    z-index: 998,;
    animation: animate 4s linear infinite;
}

section .waves .wave#wave4{
    opacity: 0.7;
    bottom: 1vh;
    z-index: 999,;
    animation: animate2 4s linear infinite;
}

@keyframes animate{
    0%{
        background-position-x: 1000px;
    }

    100%{
        background-position-x: 0px;
    }
}

@keyframes animate2{
    0%{
        background-position-x: 0px;
    }

    100%{
        background-position-x: 1000px;
    }
}

.stars{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    mix-blend-mode: screen;
    background: #1f2028;

}

h2#tittle{
    position: absolute;
    color: #fff;
    bottom: 70vh;
    left: 3vw;
    font-size: 9vw;
}

.island{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 45vw;
    min-width: 400px;
    height: auto;
    bottom: 2vh;
    pointer-events: none;
}

.topnav{
    background-color: rgb(76, 132, 247);
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    margin-top: -1px;
}

.topnav a{
    float: left;
    color: #fff;
    text-align: center;
    padding: 3vw 4vw;
    text-decoration: none;
    font-size: 4vw;
}

.topnav a:hover{
    background-color: rgb(60, 120, 255);
}

section .text{
    position: relative;
    background: rgb(76, 132, 247);
}